.search-box{
    background-color: rgb(36, 36, 36);
    text-align: center;
}
.search-box input {
    width: 75%;
    margin: 10px 0px;
    font-size: 15px;
    padding: 4px 6px;
    outline: none;
}
.cart-icon{
    color: white;
    font-size: 21px;
    margin-left: 10px;
}
.cart-quantity{
    color: orange;
    display: inline-block;
    margin-left: 3px;
}
.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 180px;
}
.products{
    border-right: 1px solid rgb(199, 197, 197);
    margin-right: 10px;
}