.product{
    display: flex;
    border-bottom: 1px solid rgb(199, 197, 197);
    margin: 10px;
}
.img{
    padding: 20px;
}
.name{
    color: blue;
    font-size: 18px;
}
.product-customize{
    display: flex;
    justify-content: space-around;
}
.price{
    color: indigo;
    font-size: 18px;
}
.btn{
    color: black;
    background-color: rgb(240, 174, 52);
    border: 1px solid gray;
    margin-top: 20px;
    padding: 4px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.star{
    color:rgb(252, 165, 4);
}
.features-list{
    color: rgb(75, 75, 75);
}