.logo{
    text-align: center;
}
.logo img{
    height:85px;
}
nav{
    background-color: black;
    font-size: 18x;
}
nav a{
    margin-left: 30px;
    color: white;
    text-decoration: none;
    padding:10px;
    display: inline-block;
}
nav a:hover{
    background-color: white;
    color: black;
}
